---
import Layout from '../components/layouts/Layout.astro';
import Section from '../components/home/Section.astro';
import HomeContent from '../components/home/HomeContent.astro';
import AboutContent from '../components/home/AboutContent.astro';
import ContactContent from '../components/home/ContactContent.astro';
import ServicesContent from '../components/home/ServicesContent.astro';
---

<Layout>
  <div class="flex flex-col items-center w-screen">
    <HomeContent />
    <Section>
      <AboutContent />
    </Section>
    <Section>
      <ServicesContent />
    </Section>
    <Section>
      <ContactContent />
    </Section>
  </div>
</Layout>
