---

---

<h1 class="text-4xl">
  There is no strife,<br />no prejudice,<br />no national conflict
</h1>
<p class="text-lg">
  Its hazards are hostile to us all. Its conquest deserves the best of all
  mankind.
</p>
<button>Contact</button>
